{% extends "base.html" %}

{% block title %}Анализатор страниц{% endblock %}

{% block content %}
<h1 class="text-center">Анализатор страниц</h1>
<p class="text-center">Бесплатно проверяйте ваши сайты на SEO-пригодность</p>

<form action="{{ url_for('add_url') }}" method="post" class="row justify-content-center mt-4">
  <div class="col-md-6">
    <input type="text" name="url" class="form-control" placeholder="https://example.com" required>
    <button type="submit" class="btn btn-primary mt-2">Проверить</button>
  </div>
</form>
{% endblock %}