{% extends "base.html" %}

{% block title %}URLs - Анализатор страниц{% endblock %}

{% block content %}
<h1>Сайты</h1>
        <table class="table table-bordered table-hover mt-4" data-test="urls">
            <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Последняя проверка</th>
                    <th>Код ответа</th>
                </tr>
            </thead>
            <tbody>
                {% for url in urls %}
                <tr>
                    <td>{{ url.id }}</td>
                    <td>
                        <a href="{{ url_for('show_url', id=url.id) }}">
                            {{ url.name }}
                        </a>
                    </td>
                    <td>
                        {% if url.created_at %}
                            {{ url.created_at.strftime('%Y-%m-%d') }}
                        {% endif %}
                    </td>
                    <td>
                        {% if url.status_code %}
                            {{ url.status_code }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
<a href="/" class="btn btn-primary">Назад</a>
{% endblock %}